
.navbar{
	position: fixed;
	top: 50%;
	right: 30px;
	z-index: 1000;
	
}
ul{
	list-style: none;
}
.bullet{
	width:10px;
	height: 10px;
	background-color: #D3D3D3;
	border-radius: 6px;
	margin: 25px;
	text-align: right;

}
.bullet .text{
	position: relative;
	right: 45px;
	bottom: 4px;
	visibility: hidden;
}
.bullet .text1{
	right: 40px;
}
.bullet .text2{
	right: 50px;
}
.bullet .text4{
	right: 63px;
}
.bullet:hover{
	background-color: #96EAD4;
}

.bullet:hover .text{
	visibility: visible;
}
.selected{
	background-color: #3e9e85;
	border: 2px solid #f2f2f2 ;
}
.main-scroll{
	position: relative;
	overflow: scroll;
}
#message{
	
	font-size: 42px;
	color: #FFFFFF;

}
.introduction{
	color: #FFFFFF;
	visibility: hidden;
	opacity: .8;
	font-size: 35px;
	font-weight: bold;
}
#name{
	font-size: 47px;

}
.introAnimation{
	visibility: visible;
	animation-duration: 3s;
  	animation-name: slideIn;
}
@keyframes slideIn{
	from {
    margin-left: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}
.greetingAnimation-i{
	animation-duration: 3s;
	animation-name: appear;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}
@keyframes appear{
	from{
		margin-top: 5vh;
		opacity: 0;
	}
	to{
		margin-top: 20vh;
		opacity: 1;
	}
}
.greetingAnimation-ii{
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-name: slideOut;
}
@keyframes slideOut{
	from{
		opacity: 1;
		margin-top: 20vh;
	}
	to{
		opacity: 0;
		margin-top: 15vh;
	}
}

.removeHI{
	visibility: hidden;
}

#intro-section{
	width: 100%;
	height: 100vh;
	background-color: #5F9EA0;
	
}
#introDiv{
	position: absolute;
    left: 0;
    top: 10vh;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #ffffff;
}
.about{
	width: 100%;
	min-height: 100vh;	
	color: #FCFCFC;

}

.about-style{
	animation-duration: 4s;
	animation-name: colorAnimation;
	animation-iteration-count: infinite;
  	animation-direction: alternate;

}
@keyframes colorAnimation{
	 0% {
       background: #636766;
    }
    50% {
       background: #454746;
    } 
    100% {
       background: #252625 ;
    } 
}
.about-content{
	width: 100%;
	height: 50vh;
}
#image{
	background-repeat: no-repeat;
	width: 100%;
	padding: 7px;
	text-align: center;
	height: 70%;	
}
#about-img{
	border: 2px solid grey;
	border-radius: 100%;
}
#about-descrip{
	width: 80%;
	text-align: center;
	margin:auto;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;	
}
#about-descrip1{
	font-family:  'Josefin Sans', sans-serif;
}
#work{
	background-image:url('../images/home-office-336373_1280.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
#skill{
	background-image:url('../images/books-1850645_1280.jpg');	
	text-align: center;
	vertical-align: middle;
}
.skill-title{
	font-family: 'Averia Serif Libre', cursive;
	font-size: 35px;
	padding-left: 10px;
	padding-top: 80px;
	padding-bottom: 10px;

}
.title2{
	padding-top: 40px;
}
#development{
	width: 100%;
	height: 200px;
	padding-top: 10px;
}
.icon{
	width: 10%;
	height: 100px;
	display: inline-block;
	padding-top: 10px;
	padding-left: 15px;
}
.tool{
	width: 10%;
	height: 100px;
	display: inline-block;
	padding-top: 10px;
	padding-left: 15px;
	
}
#icon-image{
	border-radius: 20%;
	padding: 10px;
}
.heading{
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
	color:#E6E0CB;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 25px;
}
.clearfix{
	width:100%;
	min-height: 100vh;
}
.project{
	margin-top:3px;
	padding-top: 7px;
	width: 45%;
	height: 450px;
	display: inline-block;
	text-align: center;
	padding-left: 7px;

}
.title{
	text-align: center;
	padding-left: 10px;
	padding-bottom: 10px;
	color:#E6E0CB;
	font-family: 'Playfair Display SC', serif;
	font-size: 20px;
}
.project-descrip{
	width: 75%;
	margin-top: 10px;
	margin-left: 70px;
	text-align: center;
	color:#E6E0CB;
	font-family: 'Source Sans Pro', sans-serif;

}
.link{
	color:#E6E0CB;
	display: inline-block;
	text-align: center;
	width: 10%;
	height: 3vh;
	padding-top: 6px;
	margin-left: 20px;
	margin-top: 7px;
	border: 1px solid #E6E0CB;
	border-radius: 6px;
}
.link:hover{
	background-color: #00b7c7;
	color: #f2f2f2;
	border: 1px solid #f2f2f2;

}
.screenshot{
	text-align: center;
}
#screenshot-img{
	border-radius: 6px;
}
a{
	text-decoration: none;
	color: #E6E0CB;
}
#contact-section{
	background-color: #9EA183;
	/*background-color: #f9b379;*/
}
.contact-descrip{
	width: 100%;
	height: 100px;
	color: black;
	text-align: center;
	margin-bottom: 80px;
	font-family: 'Arima Madurai', cursive;
	font-size: 30px;
	font-weight: bold;

}
.contact-form{
	width: 100%;
	height: 300px;
	text-align: center;
}
.input{
	width: 50%;
    padding: 10px;
    margin: 10px;
}
.button{
	margin-top: 20px;
	padding: 10px;
	width: 15%;
	border: 1px solid black;
	border-radius: 6px;
	color: black;
	background-color: #f2f2f2;
}
.button:hover{
	background-color: #00b7c7;
	color: #f2f2f2;
	border: 1px solid #f2f2f2;
}
.contact-icons{
	margin-top: 15px;
	width: 100%;
	height: 200px;
	text-align: center;
	color: black;
}
.linkIcons:hover{
	color: black;

}
.icons{
	display: inline-block;
	margin:10px;
}
