.navbar{
	list-style: none;
}
.navbar{
	position: fixed;
	top: 50%;
	right: 30px;
	z-index: 1000;
	
}
.main-scroll{
	position: relative;
	overflow: scroll;
}
.introduction{
	visibility: hidden;
}
.introAnimation{
	visibility: visible;
	animation-duration: 2s;
  	animation-name: slideIn;
}
@keyframes slideIn{
	from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.greetingAnimation-i{
	animation-duration: 3s;
	animation-name: appear;
	/*animation-fill-mode: forwards;*/
	animation-timing-function: ease;
}
@keyframes appear{
	from{
		margin-top: 0vh;
		opacity: 0.2;
	}
	to{
		margin-top: 40vh;
		opacity: 1;
	}
}
.greetingAnimation-ii{
	animation-duration: 4s;
	animation-name: slideOut;
}
@keyframes slideOut{
	from{
		margin-right:  0%;
	}
	to{
		margin-right: 100%;
	}
}

.removeHI{
	
	visibility: hidden;
}

#intro-section{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, #abef86 24%,#c7f2a2 50%,#e1fccf 100%);
	
}
#introDiv{
	position: absolute;
    left: 0;
    top: 10vh;
    width: 100%;
    text-align: center;
    font-family: Aref+Ruqaa;
    font-size: 40px;
    color: #ffffff;
}
.about{
	width: 100%;
	height: 100vh;	
	
}
.about-content{
	float: left;
	width: 50%;
	height: 100vh;

}
#work{
	opacity: 0.6;

}
#skill{
	opacity: 0.6;

}
.projectName{
	margin-top:7px;
	width: 50%;
	height: 50vh;
	float:left;

}